<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <h2>Welcome to Cybercrime Management System</h2>
    <p style="margin-bottom: 32px;">
      <a class="btn" th:href="@{/file-complaint}">File a Complaint</a>
      <a class="btn" th:href="@{/view-complaints}">View Complaints</a>
      <a class="btn" th:href="@{/logout}">Logout</a>
    </p>
    <div style="margin-top: 32px;">
      <h3>What would you like to do?</h3>
      <ul>
        <li>File a new cybercrime complaint</li>
        <li>View and manage all existing complaints</li>
        <li>Securely log out of the system</li>
      </ul>
    </div>
  </div>
</body>
</html>
